@font-face{
    font-family:'Nunito';
    src:url('/fonts/static/Nunito-Regular.ttf') format('truetype');
}

.inputWithIcon{
    display: flex;
    align-items: center;
    position: relative;
    
}

.container{
    display: flex;
    border: 3px solid #39AAFB;
    border-radius: 30px;
    margin: 2rem;
    padding: 5rem;
    height: auto;
    width: auto;
    margin-top: 20px;
    margin-bottom: -30px;
    height: 600px;
    width: 1024px;
}

.instructionsContainer{
    flex: 1;
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    background: #fff;
    margin-top: -20px;
}

.containerModalSaida{
    display: flex;
    justify-content: center;
    align-items: left;
}

.input{
    display: flex;
    height: 65px;
    width: 100%;
    position: relative;
    
    border: none;
    border-radius: 30px;
    outline: none;
    background: #FFF;
    box-shadow: 5px 4px 20px 0px rgba(0, 0, 0, 0.15);
    padding: 0 30px;
    margin-top: 350px;

    flex: 1;

    color: var(--blue, #3369FF);
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.sendIcon{
    margin-top: 350px;
    border: none;
    position: absolute;
    left: 96%;
    cursor: pointer;
    width: auto;
    height: auto;
}
.backIcon{
    margin-top: -50px;
    margin-right: auto;
    margin-bottom: auto;
    width: auto;
    height: auto;
   
}
.robotBlueIcon{
    margin-top: -20px;
    margin-bottom: -70px;
    width: 100%;
    height: 100%;
}
.microphoneIcon{
    margin-top: 350px;
    border: none;
    position: absolute;
    left: 92%;
    cursor: pointer;
    width: auto;
    height: auto;
    
}
.textoInserido::before{
    content: "ChatGPT";
    color: var(--blue, #3369FF);
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    position: relative;
    left: 35px;
    margin: 0;
}
.volumeIcon{
    margin-left: auto;
    margin-bottom: auto;
    width: auto;
    height: auto;
}