.wareHouseInfo {
    display: flex;
    align-items: center;
    width: 50%;
    margin-bottom: 1.25rem;
  }

  .wareHouseImg {
    width: 150px;
    height: 150px;
    margin-left: 20px;
  }
  
  .titleDescription{
    margin-left: 2rem;
    display: flex;
    gap: 15px;
    flex-direction: column;
  }

  .wareHouseTitle {
    font-family: "Poppins-SemiBold", sans-serif;
    font-weight: 600;
    font-size: 28px;
  }

  .wareHouseDescription {
    color: #39AAFB;
    font-family: "Poppins-SemiBold", sans-serif;
    font-weight: 600;
    font-size: 18px;
  }