.container {
  background: linear-gradient(to right, #a2c2e6, #e0f0ff); /* Gradiente azul suave */
  min-height: 100vh; /* Garante que o fundo cubra a altura total da página */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.metabaseSection {
  background-color: #f0f0f0; /* Cor de fundo cinza claro */
  padding: 20px;
  border-radius: 10px; /* Cantos arredondados */
  width: 80%; /* Ajuste conforme necessário */
  height: 100%;
  text-align: center; /* Centraliza o texto */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar destaque */
}

.metabaseSection h2 {
  color: #333; /* Cor do texto */
}

.buttons {
  margin-bottom: 20px;
}

.blueButton {
  background-color: #007bff; /* Azul do botão */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.blueButton:hover {
  background-color: #0056b3; /* Azul escuro do botão ao passar o mouse */
}
  